sentence-transformers==2.2.2
transformers==4.35.2
huggingface_hub==0.19.4
scikit-learn==1.3.2
torch==2.2.1
pymupdf==1.23.9
spacy==3.7.2
fr-core-news-md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.7.0/fr_core_news_md-3.7.0.tar.gz